<form [formGroup]="form" role="search">
    <div class="input" role="combobox" aria-haspopup="listbox" aria-expanded="false">
        <input id="input" formControlName="searchInput" placeholder="Search Wikipedia" (keyup)="onInputChange()" />
    </div>
    <div class="select" role="combobox" aria-haspopup="listbox" aria-expanded="false">
        <select id="category" formControlName="category" aria-label="Select a category" aria-required="true"
            role="listbox">
            <option value="" selected disabled>Select Category</option>
            <option *ngFor="let category of allCategories">{{ category.name }}</option>
        </select>
    </div>
    <div>
        <button type="submit" aria-label="Search" (click)="searchWikipedia()">Search</button>
    </div>
</form>


<app-result></app-result>
